<%if(errors.length > 0) { %>
    <div class="user-message user-message--error">
        <ul style="list-style: none;">
            <% errors.forEach( e=> { %>
                <li> <%= e.msg %></li>
            <% })%>
        </ul>
    </div>
<% } else if(errorMessage) {%>
    <div class="user-message user-message--error"><%= errorMessage%></div>
<% }%>